body {
    background-color: #FFFEE5;
    margin: 5% 15%;
}

a {
    color: #87CEEB;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}
